
* {
  font-family: Papyrus, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
}

div {
  border: 2px solid black;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  background-color: lightgray;
  float: left;
  padding: 10px;
}
h2 {
  border: 2px solid black;
  float: right;
  padding: 10px 30px 0px 30px;
  font-weight: bold;
  margin-top: -12px;
  margin-right: -12px;
  font-size: 1.25em;
}

p {
  clear: right;
  font-size: 1em;
}

#chicken {
  background-color: #b3d9ff;
}
#beef {
  color: white;
  background-color: #cc0052;
}
#sushi {
  background-color: #d1b3ff;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .box {
    width: 31%;
  }
  .box2 {
    width: 31%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .box {
    width: 47%;
  }
  .box2 {
    width: 96%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .box {
    width: 97%;
  }
  .box2 {
    width: 97%;
  }
}
